@import "../../style/constants";

@media (min-width: 800px) {
  .main {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .mainItem {
    position: absolute;
    top: 0;
    bottom: 0;
    height: calc(100vh - var(--headerHeight));
  }
}
