@import "../../style/constants";

.card {
  position: relative;
  padding: 40px;
}

.closeButton {
  opacity: 0.5;
  color: var(--greyText);
  border: 1px solid var(--greyText);
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeButton:hover {
  opacity: 1;
}

.title {
  font-family: "Krona One", sans-serif;
  font-size: 24px;
  margin-bottom: 1rem;
  padding-right: 8px;
}

.text {
  font-family: "Cardo", serif;
  line-height: 1.5;
  color: var(--greyText);
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .card {
    left: 0;
    right: 50%;
    border-right: 1px solid var(--blueMain);
    overflow-y: auto;
  }

  .closeButton {
    border-color: var(--blueMain);
    color: var(--blueMain);
    border-top: 0;
    border-right: 0;
  }
}

@media (min-width: 1200px) {
  .card {
    right: 70%;
  }
}
