@import "../../style/constants";

.header {
  height: var(--headerHeight);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 20px;
}

@media (min-width: 800px) {
  .header {
    border-bottom: 2px solid var(--blueMain);
  }
}
