@import "../../../../style/constants";

.controlButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  color: var(--blueMain);
  height: 40px;
  padding: 4px;
  min-width: 40px;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: inset 3px 3px 3px #fff, inset -3px -3px 3px #ccc;
  font-family: sans-serif;
  font-size: 16px;
}
.controlButton:hover {
  border: 2px solid var(--blueMain);
}
.controlButton:active {
  box-shadow: inset 3px 3px 3px #ccc, inset -3px -3px 3px #fff;
}

.label {
  padding: 0 8px 0 0;
}
