.mapControls {
  display: flex;
  position: absolute;
  bottom: 16px;
  left: 40px;
}
.mapControls > *:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.mapControls > *:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media (min-width: 800px) {
  .mapControls {
    right: 16px;
    justify-content: flex-end;
  }
}
