@import "../../style/constants";

.mapContainer {
  position: relative;
  margin-bottom: -6px;
}

.pattern {
  stroke-width: 2;
  stroke: var(--blueMain);
}

.mapGroup {
  width: 100%;
}

.countryMap {
  fill: #fff;
  stroke: var(--blueMain);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.countryMap:focus,
.countryMap:hover {
  stroke-width: 2;
  fill: url(#diagonalHatch);
}

.selectedCountry {
  stroke-width: 2;
  fill: url(#diagonalHatch);
}

@media (min-width: 800px) {
  .mapContainer {
    background: var(--blueClear);
    right: 0;
    left: 50%;
  }

  .mapFigure {
    height: calc(100vh - var(--headerHeight));
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .mapContainer {
    left: 30%;
  }
}
